<div class="vh-100 vw-100 overflow-hidden bg-dark px-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="position-relative col-md-7 col-lg-6 col-xl-5 col-xxl-4 bg-light h-75 py-5 px-3">
            <div *ngIf="isLoading"
                class="d-flex absloute bg-trans h-100 w-100 justify-content-center align-items-center">
                <div class="spinner-border border-1 text-secondary" role="status">
                </div>
            </div>
            <div *ngIf="!isEmailVerifiedSuccess">
                <div class="text-center mt-4 ">
                    <i class="fa-solid fa-envelope bg-green p-2 fs-1 text-white rounded"></i>
                </div>
                <form #emailVericationForm="ngForm" (ngSubmit)="onSubmit(emailVericationForm)">
                    <h4 class="text-center mt-2">Verify Your Email Address</h4>
                    <div class="mt-5">
                        <input #email="ngModel" name="email" type="email" class="w-100 p-2 inp-placeholder inp-focus"
                            placeholder="Enter Your Email" [ngClass]="{'is-invalid': email.touched && !email.valid}"
                            required email ngModel>
                        <small class="invalid-feedback" *ngIf="email.errors?.['required']">
                            *Please enter your email for password reset
                        </small>
                        <small class="invalid-feedback" *ngIf="email.errors?.['email']">
                            *Please enter a valid email
                        </small>
                    </div>

                    <button type="submit"
                        class="btn-green btn-hover border-0 mt-4 text-white fw-bold w-100 py-2 letter-spacing-xs">
                        <small>SUBMIT</small>
                    </button>
                </form>
            </div>

            <div *ngIf="isEmailVerifiedSuccess && !isOtpVerifiedSuccess">
                <p class="text-center mt-5">
                    <i class="fa-solid fa-envelope-circle-check text-green fs"></i>
                </p>
                <p class="text-center text-center h5 mt-4">Please check your Email</p>
                <p class="text-muted text-center">We've sent a OTP on your email</p>
                <form #otpForm="ngForm" (ngSubmit)="onSubmit(otpForm)">
                    <div class="d-flex gap-3 justify-content-center pb-2">
                        <div class="">
                            <input class="otp-letter-input inp-focus" name="num1" type="text" maxlength="1" required
                                ngModel>
                        </div>
                        <div class="">
                            <input class="otp-letter-input inp-focus" name="num2" type="text" maxlength="1" required
                                ngModel>
                        </div>
                        <div class="">
                            <input class="otp-letter-input inp-focus" name="num3" type="text" maxlength="1" required
                                ngModel>
                        </div>
                        <div class="">
                            <input class="otp-letter-input inp-focus" name="num4" type="text" maxlength="1" required
                                ngModel>
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-6">
                            <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active"
                                class="btn btn-outline-secondary w-100">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-green btn-hover text-white w-100">Verify</button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="isOtpVerifiedSuccess">
                <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit(passwordResetForm)">
                    <h4 class="text-center mt-5">Reset Passwrod</h4>
                    <div class="d-flex align-content-center mt-5">
                        <div class="w-50">
                            <input #password="ngModel" name="password" type="text"
                                class="w-100 p-2 inp-placeholder inp-focus" placeholder="Enter Your Passwrod"
                                [ngClass]="{'is-invalid': password.touched && !password.valid}" required password
                                ngModel>
                            <small class="invalid-feedback" *ngIf="password.errors?.['required']">
                                *Please enter your email for password reset
                            </small>
                        </div>
                        <div class="w-50">
                            <input #cpassword="ngModel" name="cpassword" type="text"
                                class="w-100 p-2 inp-placeholder inp-focus" placeholder="Confirm Your Password"
                                [ngClass]="{'is-invalid': cpassword.touched && !cpassword.valid}" required cpassword
                                ngModel>
                            <small class="invalid-feedback" *ngIf="cpassword.errors?.['required']">
                                *Please enter your email for password reset
                            </small>
                        </div>
                    </div>

                    <button type="submit"
                        class="btn-green btn-hover border-0 mt-4 text-white fw-bold w-100 py-2 letter-spacing-xs">
                        <small>SUBMIT</small>
                    </button>
                </form>
            </div>
        </div>
    </div>