.btn-green {
    background-color: #00ad5f;
}

.btn-hover:hover {
    background-color: #00a55b;
}

.letter-spacing-xs {
    letter-spacing: 4px;
}

.inp-placeholder::placeholder {
    font-weight: 600;
}

.inp-focus:focus {
    outline: none;
    border: 2px solid #00ad5f;
}

.link-deco {
    color: #00ad5f;
}

.link-margin {
    margin-top: 100px;
}

.bg-green {
    background-color: #00ad5f;
}

.text-green {
    color: #00ad5f;
}

.otp-letter-input {
    caret-color: transparent;
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid #00ad5f;
    border-radius: 10px;
    color: #00ad5f;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.fs {
    font-size: 75px;
}

.bg-trans {
    background-color: rgba(98, 98, 98, 0.329);
}

.absloute {
    position: absolute;
    top: 0;
    left: 0;
}